extends layout

block content
  h1= title
  p Here are #{title}. 

  //- ul
   li: a(href='/') Home
   li: a(href='/products') Products
   li: a(href='/about') About

  // the products
  section(class='container content-section text-center')
   div(class='row')
    div(class='col-lg-8 col-lg-offset-2')
     div(class='row')
      div(class='col-sm-6 col-md-4')
       div(class='thumbnail')
        img(src='images/product/1.jpg')
        div(class='caption')
         h3= '50.00'
         p Wall hanging
